.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 96px;

    &__part{
        display: flex;
        flex-direction: column;
        gap: 96px;
    }

    &__title{
    color: var(--second-color);
    font-family: var(--second-font);
    font-size: 64px;
    font-style: normal;
    font-weight: 540;
    line-height: normal;

    margin: -24px 0 0 0;

    }
    &__block{
        width: 704px;
        height: 479px;
        &__tender{
            width: 704px;
            height: 479px;
        }
    }
}