nav {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 32px;


        li {
            list-style-type: none;
            cursor: pointer;

            a {
                position: relative;

                color: var(--Text-light);
                font-family: var(--font-family);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;

                text-decoration: none;
            }


            a:after {
                display: block;
                left: 0;
                width: 0;
                height: 2px;
                background-color: var(--Text-light);
                content: "";
                transition: width 0.3s ease-out;
            }

            a:hover:after,
            a:focus:after{
            width: 100%;
        }

    }

}
}